html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    /*display: -webkit-box;*/
    /*display: flex;*/
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /*padding-top: 40px;*/
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-sign_in {
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
}

.form-sign_in .checkbox {
    font-weight: 400;
}

.form-sign_in .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-sign_in .form-control:focus {
    z-index: 2;
}

.form-sign_in input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-sign_in input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-sign_in input[type="tel"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-sign_in input[type="text"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.button-color {
    background-color: #17a2b8;
}
.block-payment{

}