body {
    background-color: #f4f4f4
}

.navbar {
    background: #17a2b8;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #17a2b8;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-toggler {
    background: #fff !important;
}

.bg-dark {
    background-color: #343a40 !important
}

.bg-primary {
    background-color: #343a40 !important
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.table-admin {
    overflow-y: auto;
    width: 100%;
}

.content {
    margin-top: 20px;
    margin-left: 20px;
}

.product {
    padding-left: 40px;
    padding-right: 40px;
}

table.table-content {
    margin-top: 40px;
    margin-left: 20px;
    border: 1px solid gray;
}

tr, td, th.table-content {
    border: 1px solid gray;
    text-align: center
}


.product-block {
    height: 300px;
    width: 350px;
}

.my-color {
    background-color: #17a2b8;
    color: #f4f4f4;
}

.tr-color {
    background-color: #17a2b8;
    color: #f4f4f4;
}
.items-per-page-input{
    width: 40px;
}
.page-link {
    color: #17a2b8
}

.order-image {
    height: 100px;
    width: 150px;
}

.align-center {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: #ccc;
}

.add-new-product {
    margin-left: 500px;
}

.footer {
    background-color: #f4f4f4
}






